# This is an example .env file. Copy this to .env and fill in the values. THIS IS FOR LOCAL DEVELOPMENT ONLY.
HOST_NAME=localhost
AZURE_OPENAI_API_KEY=AddYourKeyHere
AZURE_API_BASE=AddYourEndpointHere
AWS_ACCESS_KEY_ID=AddYourKeyHere
AWS_SECRET_ACCESS_KEY=AddYourKeyHere
AWS_SESSION_TOKEN=AddYourKeyHere
BEDROCK_CHAT_MODEL_ID=AddYourModelIdHere
PORT=AddYourPortHere

RABBITMQ_ENABLED=false