agentic_os_infra @ git+https://gitlab.corp.amdocs.com/agentic-core/agentic-framework/agent_infra.git@master-26-4
starlette
httpx
colorama
gradio>=4.44.0
pandas>=2.2.0
openpyxl>=3.1.0
rapidfuzz>=3.9.0


